* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
  list-style: none;
  margin-left: 20px;
}

header {
  background-color: rgb(217, 214, 255);
  padding: 20px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background-color: rgb(209, 209, 209);
}

.aside {
  display: flex;
  background-color: rgb(152, 170, 255);
  padding: 1em;
}

a {
  text-decoration: none;
}
